<template name="productDetail">
	<div class="product-detail">
		<div class="product-image col-sm-6 col-xs-12">
		    <a href="#" class="thumbnail">
		      <img data-src="B25400_01_standard.jpg" alt="..." src="/B25400_01_standard.jpg">
		    </a>
	    </div>
	    <div class="product-info col-sm-6 col-xs-12">
		    <div class="product-name">
		    	{{title}}
		    </div>
		    <div class="product-category">
		    	{{categoryName}}
		    </div>
		    <div class="product-category">
		    	{{brandName}}
		    </div>
		    <div class="product-price">
		    	€ {{price}}
		    </div>
	    </div>
    </div>
</template>