<template name="brandTree">
    <nav class="navbar navbar-default" role="navigation" style="width:250px;">
        <div id="brandTree">
            {{tree}}
            <ul>
                <li class="jstree-open" data-jstree='{"opened":true,"selected":true}'>
                    Categories
                    <ul>
                        {{#each categories}}
                        <li>{{title}}</li>
                        {{/each}}
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>

